@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/' as *;
@use './layouts/' as *;
@use './components/' as *;
@use './animations/pulse-animation' as *;

body {
  transition: all 1s ease;
}

.hero {
  min-height: 100vh;

  &__down-arrow {
    display: none !important;

    @include respond(sm) {
      display: inline-block !important;
      width: auto;
      font-size: 5rem;
      color: var(--clr-arrow);
      cursor: pointer;
      text-align: left;
    }
  }
}

.hero-wrapper {
  width: 100%;
}

.presentation {
  @include flex-config($direction: column);
  gap: 3rem;

  @include respond(sm) {
    @include flex-config($direction: row, $justify: space-between, $align: center);
    gap: 0;
  }
}

.hero-content-left {
  @include flex-config($direction: column-reverse, $align: center, $justify: center);
  margin-top: 5rem;

  @include respond(sm) {
    flex-direction: column;
    width: 60%;
    margin-top: 0;
  }

  @include respond(md) {
    width: 50%;
  }
}

.hero-content-left-cta {
  padding: 10rem 0;

  @include respond(sm) {
    width: 100%;
    padding: 2rem 0;
  }

  &__primary-heading {
    font-size: clamp(3rem, 2.5vw, 8rem);
    text-shadow: var(--shdw-text);
  }

  &__secondary-heading {
    font-size: clamp(2rem, 2vw, 3rem);
    margin-top: 0.5rem;
    font-weight: var(--fw-normal);
  }

  &__btn {
    background-color: var(--clr-btn);
    color: var(--foreground);
    margin-top: 3rem;
    padding: 1.5rem 2rem;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    border: var(--clr-btn-border);
    outline: none;
    box-shadow: var(--shdw-btn-cta);
    letter-spacing: 0.1rem;
    cursor: pointer;
  }
}

.hero-content-right {
  @include respond(sm) {
    width: 30%;
  }
}

.section-heading {
  font-size: var(--fs-section-heading);
  text-align: center;
  padding: var(--pd-section-heading);
  text-shadow: var(--shdw-text);

  @include respond(md) {
    padding: 5rem 0;
  }

  @include respond(lg) {
    padding: 10rem 0;
  }
}

.projects-section {
  background-color: var(--clr-section-bg);
  padding: var(--pd-sections);

  &__cube-instructions {
    display: none;

    @include respond(lg) {
      display: block;
      text-align: center;
      font-size: 1.5rem;
      padding-bottom: 2rem;
      animation: pulse infinite 2s;
    }
  }
}

.cube-swipers {
  @include flex-config($direction: column);
  gap: 15rem;

  @include respond(sm) {
    gap: 20rem;
  }

  @include respond(md) {
    gap: 0;
  }

  @include respond(md) {
    flex-direction: row;
    padding: 5rem 0 10rem 0;
  }
}

.cube-swiper-container {
  width: 100%;

  &__heading {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: var(--fw-normal);
  }

  @include respond(md) {
    margin-bottom: 3rem;
  }
}

.about-me-section {
  background-color: var(--clr-section-bg);
  padding: var(--pd-sections);
}

.about-me {
  @include flex-config($direction: column, $align: center);
}

.about-me-text-wrapper {
  margin-top: 5rem;
  padding: 0 1rem;
  line-height: 1.5;

  @include respond(md) {
    margin-top: 0;
    padding: 5rem 3rem;
  }

  &__span {
    font-weight: var(--fw-bold);
  }

  &__heading {
    font-size: clamp(2rem, 2vw, 2.5rem);
    padding-bottom: 1rem;
  }

  &__paragraph {
    font-size: clamp(1.5rem, 2vw, 2rem);
    line-height: 1.5;
  }

  &__html {
    color: var(--clr-html);
  }

  &__css {
    color: var(--clr-css);
  }

  &__sass {
    color: var(--clr-sass);
  }

  &__js {
    color: var(--clr-js);
  }

  &__typescript {
    color: var(--clr-typescript);
  }

  &__react {
    color: var(--clr-react);
  }

  &__vue {
    color: var(--clr-vue);
  }

  &__link {
    font-size: 3rem;
    padding-left: 1rem;
    transition: color 0.1s;

    &:hover {
      color: rgb(179, 179, 184);
    }
  }
}

.contact-me-section {
  @include flex-config($direction: column, $align: center);
  background-color: var(--clr-section-bg);
  padding: var(--pd-sections);
  padding-bottom: 20rem;
}
