@use './abstracts/' as *;
@use './base/' as *;
@use './utilities/' as *;
@use './layouts/' as *;
@use './components/' as *;

.hero {
  min-height: 100vh;

  &__down-arrow {
    width: 100%;
    font-size: 5rem;
    color: var(--clr-arrow);
    text-align: center;
    cursor: pointer;
    display: none !important;

    @include respond(sm) {
      display: inline-block !important;
      width: auto;
      text-align: left;
    }
  }
}

.social-media {
  @include flex-config($justify: end, $align: center);
  font-size: 3rem;
  padding: 5rem 0;

  &--linkedin {
    color: #0072b1;
  }

  &--mail {
    color: #b67d12;
  }
}

.social-media-icons-wrapper {
  background-color: var(--clr-wrapper);
  padding: 2rem;
}

.presentation {
  @include flex-config($direction: column);

  @include respond(sm) {
    @include flex-config(
      $direction: row,
      $justify: space-between,
      $align: center
    );
  }
}

.hero-content-left {
  @include flex-config($direction: column, $align: center);

  @include respond(sm) {
    width: 60%;
  }

  @include respond(md) {
    width: 50%;
  }
}

.hero-content-left-cta {
  padding: 2rem 0;

  @include respond(sm) {
    width: 100%;
  }

  &__primary-heading {
    font-size: clamp(3rem, 2.5vw, 8rem);
  }

  &__secondary-heading {
    font-size: clamp(2rem, 2vw, 3rem);
    margin-top: 0.5rem;
    font-weight: 400;
  }

  &__btn {
    background-color: var(--clr-btn);
    color: var(--foreground);
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    border: var(--clr-btn-border);
    outline: none;
    cursor: pointer;
  }
}

.hero-content-right {
  @include respond(sm) {
    width: 30%;
  }
}
.section-heading {
  font-size: var(--fs-section-heading);
  text-align: center;
  padding: 2rem 0;

  @include respond(md) {
    padding: 5rem 0;
  }

  @include respond(lg) {
    padding: 10rem 0;
  }
}

.projects-section {
  background-color: var(--clr-section-bg);
  border-top: var(--clr-section-border);
  padding: 5rem 0 15rem 0;

  @include respond(sm) {
    padding: 10rem 0 30rem 0;
  }
}

.cube-swipers {
  @include flex-config($direction: column);
  gap: 10rem;

  @include respond(sm) {
    gap: 20rem;
  }

  @include respond(md) {
    gap: 0;
  }

  @include respond(md) {
    flex-direction: row;
    padding: 5rem 0 10rem 0;
  }
}

.cube-swiper-container {
  width: 100%;

  &__heading {
    width: 100%;
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    margin-bottom: 3rem;
    text-align: center;
    font-weight: 400;
  }
}

.about-me-section {
  background-color: var(--clr-section-bg);
  border-top: var(--clr-section-border);
  padding: 5rem 0 15rem 0;
}

.about-me {
  @include flex-config($direction: column, $align: center);
}
