@use '../abstracts/' as *;

.about-me-img-container {
  position: relative;
  margin-top: 10rem;
  width: 15rem;
  z-index: 30;

  @include respond(md) {
    width: 20rem;
  }

  &__img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    filter: grayscale(80%);
  }

  &::before {
    @include pseudo($top: -50%, $left: -10%);
    width: 150%;
    height: 150%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 50%;
    /* z-index: -1; */
  }

  &::after {
    @include pseudo($top: -20%, $left: 0);
    width: 130%;
    height: 130%;
    background-image: linear-gradient(
      to top,
      #505285 0%,
      #585e92 12%,
      #65689f 25%,
      #7474b0 37%,
      #7e7ebb 50%,
      #8389c7 62%,
      #9795d4 75%,
      #a2a1dc 87%,
      #b5aee4 100%
    );
    border-radius: 50%;
    /* z-index: -1; */
  }
}
