@use '../abstracts/' as *;

.dm-toggler {
  display: flex;
}

.checkbox {
  opacity: 0;
}

.label {
  @include flex-config($justify: space-between, $align: center);
  position: relative;
  width: 4.4rem;
  height: 2.1rem;
  background-color: hsl(0, 0%, 7%);
  padding: 5px;
  border-radius: 50px;
  transform: scale(1.5);
  cursor: pointer;
}

.ball {
  @include position($pos: absolute, $top: 2.5px, $left: 1px);
  width: 1.7rem;
  height: 1.5rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  transition: transform 0.2s linear;
  cursor: pointer;
}

/*  target the elemenent after the label*/
.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: hsl(41, 88%, 52%);
}

.fa-sun {
  color: hsl(0, 0%, 93%);
}
