@use '../abstracts/' as *;

.floating-icons {
  @include flex-config($justify: space-between, $align: center);
  width: 100%;
  font-size: clamp(2.5rem, 2.5vw, 4em);
  padding: 5rem 1rem;

  @include respond(md) {
    padding: 10rem 0 5rem 0;
  }

  &__icon {
    visibility: hidden;

    &--js {
      color: var(--clr-js);
    }

    &--ts {
      position: relative;
      background: var(--clr-typescript);
      width: 22px;
      height: 25px;
      border-radius: 1px;

      @include respond(md) {
        width: 25px;
        height: 29px;
      }

      @include respond(lg) {
        width: 33px;
        height: 35px;
      }

      p {
        position: absolute;
        color: hsl(0, 0%, 100%);
        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
        bottom: 0;
        right: 0.2rem;
        font-weight: var(--fw-bold);
      }
    }

    &--vue {
      color: var(--clr-vue);
    }

    &--react {
      color: var(--clr-react);
    }

    &--html {
      color: var(--clr-html);
    }

    &--css {
      color: var(--clr-css);
    }

    &--sass {
      color: var(--clr-sass);
    }
  }
}
