@use '../abstracts/' as *;

.floating-icons {
  @include flex-config($justify: space-between, $align: center);
  width: 100%;
  font-size: clamp(2.5rem, 2.5vw, 4em);
  padding: 5rem 1rem;

  @include respond(sm) {
    padding: 5rem 0;
  }

  &__icon {
    &--js {
      color: #cccc0d;
    }

    &--ts {
      position: relative;
      background: #358ef1;
      width: 22px;
      height: 25px;
      border-radius: 1px;

      @include respond(md) {
        width: 25px;
        height: 29px;
      }

      @include respond(lg) {
        width: 33px;
        height: 35px;
      }

      p {
        position: absolute;
        color: #fff;
        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
        bottom: 0;
        right: 0.2rem;
        font-weight: 700;
      }
    }

    &--vue {
      color: #008000;
    }

    &--react {
      color: #438cec;
    }

    &--html {
      color: #ffa500;
    }

    &--css {
      color: #0000ff;
    }

    &--sass {
      color: #e46076;
    }
  }
}
