@use '../abstracts/' as *;

.header {
  @include flex-config($justify: space-between, $align: center);
  position: relative;
  z-index: 1000;
  min-height: 10vh;
  background-color: var(--clr-nav);
  transition: background-color 0.8s;
  visibility: hidden;

  @include respond(sm) {
    min-height: 5vh;
  }
}

.navbar {
  @include flex-config($justify: space-between, $align: center);
  width: 100%;
  position: relative;
}

.nav-logo {
  font-size: clamp(1.3rem, 2vw, 2rem);
  font-weight: var(--fw-bold);
}

.nav-links {
  @include position($pos: fixed, $top: 0, $right: 0, $bottom: 0, $left: -100%);
  @include flex-config($direction: column, $justify: center, $align: center);
  width: 100%;
  min-height: 100vh;
  z-index: 100;

  @include respond(sm) {
    position: initial;
    width: 50%;
    min-height: auto;
    @include flex-config($direction: row, $justify: space-between, $align: center);
  }

  &.active {
    background-color: var(--clr-accent-dark);
    left: 0;
  }
}

.nav-item {
  position: relative;
  margin: 2.5rem 0;
  transition: all 0.1s;
  cursor: pointer;

  &::after {
    @include position($pos: absolute, $bottom: -1rem, $left: 0);
    content: '';
    width: 0;
    border-bottom: 1px solid var(--clr-orange-dark);
    transition: width 0.2s ease;
  }

  &:hover {
    @include respond(sm) {
      &::after {
        width: 100%;
      }
    }
  }

  &__link {
    font-size: 1.6rem;
    transition: all 0.6s linear;
    color: var(--clr-light-gray);

    @include respond(sm) {
      color: var(--foreground);
    }
  }
}

.active-link {
  @include respond(sm) {
    &::after {
      @include position($pos: absolute, $bottom: -1rem, $left: 0);
      content: '';
      border-bottom: 1px solid var(--clr-accent-light);
      width: 100%;
    }
  }
}

.nav-cta {
  @include flex-config($justify: space-between, $align: center);
  width: 55%;

  @include respond(sm) {
    width: auto;
  }
}

.hamburger {
  @include position($pos: fixed, $top: 3rem, $right: 2rem);
  z-index: 110;
  cursor: pointer;

  @include respond(sm) {
    display: none;
  }

  .active &__bar:nth-child(2) {
    opacity: 0;
  }

  .active &__bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .active &__bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  &__bar {
    display: block;
    background-color: var(--clr-accent-light);
    width: 2.5rem;
    height: 0.3rem;
    margin: 0.5rem auto;
    transition: all 0.3s ease-in-out;
  }
}

.sticky-nav {
  @include position($pos: fixed, $top: 0);
  width: 100%;
  background-color: hsla(0, 0%, 17%, 0.8);
}
