@use '../abstracts/' as *;

progress {
  @include position($pos: fixed, $bottom: 0, $left: 0);
  -webkit-appearance: none;
  appearance: none;
  width: 100vw;
  height: 12px;
  border: none;
  background: transparent;
  z-index: 50;
}

progress::-webkit-progress-bar {
  background: transparent;
}

progress::-webkit-progress-value {
  background: linear-gradient(to right, var(--clr-accent-light), var(--clr-accent-dark));
  background-attachment: fixed;
}

progress::-moz-progress-bar {
  background: linear-gradient(to right, var(--clr-accent-light), var(--clr-accent-dark));
  background-attachment: fixed;
}
