@use '../abstracts/' as *;

.social-media {
  display: none;
  visibility: hidden;

  @include respond(sm) {
    @include flex-config($justify: end, $align: center);
    font-size: 3rem;
    padding: 5rem 0;
  }
}

.social-media-icons-wrapper {
  @include flex-config($justify: space-around);
  background-color: var(--clr-wrapper);
  padding: 2rem;
  width: 30%;

  @include respond(md) {
    width: 20%;
  }

  &__icon {
    &--linkedin {
      color: var(--clr-linkedin);
    }

    &--mail {
      color: var(--clr-mail);
    }
  }
}
