@use '../abstracts/' as *;

.swiper {
  width: 100%;
  height: 50rem;
}

.swiper2,
.swiper3 {
  width: 25rem;
  height: 30rem;

  @include respond(sm) {
    width: 40rem;
    height: 40rem;
  }

  @include respond(lg) {
    width: 50rem;
    height: 50rem;
  }
}

.swiper-slide {
  @include flex-config($justify: center, $align: center);
  background: var(--clr-bg-light);
  font-size: 18px;
  text-align: center;
  background-position: center;
  background-size: cover;
  position: relative;
}

//VERTICAL SWIPER
.swiper-slide img {
  object-fit: scale-down;
  filter: grayscale(40%);
  border-radius: 7%;
}

.icons-wrapper {
  @include flex-config($direction: column);
  gap: 2rem;
}

.icon-wrapper {
  &__icon {
    font-size: 3rem;

    &--nuxt {
      color: hsl(120, 100%, 25%);
    }

    &--es6 {
      color: hsl(60, 88%, 43%);
    }

    &--npm {
      color: hsl(0, 100%, 50%);
    }

    &--tailwind {
      color: hsl(209, 82%, 56%);
    }

    &--vscode {
      color: hsl(240, 45%, 47%);
    }

    &--devtools {
      color: hsl(24, 78%, 43%);
    }

    &--responsive {
      color: hsl(120, 71%, 66%);
    }

    &--bootstrap {
      color: hsl(273, 82%, 35%);
    }

    &--figma {
      color: hsl(29, 94%, 51%);
    }

    &--performance {
      color: hsl(71, 73%, 45%);
    }
  }

  &__description {
    margin-top: 0.5rem;
    font-size: 1.2rem;
  }
}
//-----------------------------------------

.swiper-slide-cube {
  &__overlay {
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.7);
    z-index: -1;
  }
}

.swiper-slide-cube-one {
  &__slide {
    &--1 {
      background-image: url('../../assets/portfolio.jpg');
    }

    &--2 {
      background-image: url('../../assets/explore.jpg');
    }

    &--3 {
      background-image: url('../../assets/mixing.jpg');
    }

    &--4 {
      background-image: url('../../assets/food.jpg');
    }

    &--5 {
      background-image: url('../../assets/shop.jpg');
    }

    &--6 {
      background-image: url('../../assets/music-player.jpg');
    }

    &--7 {
      background-image: url('../../assets/space-station.jpg');
    }

    &--8 {
      background-image: url('../../assets/crypto.jpg');
    }

    &--9 {
      background-image: url('../../assets/netflix.jpg');
    }

    &--10 {
      background-image: url('../../assets/weather-app.jpg');
    }

    &--11 {
      background-image: url('../../assets/restaurant.jpg');
    }

    &--12 {
      background-image: url('../../assets/quiz.jpg');
    }
    /* 
   

   

   

 

  

   

    

   
 */
    /* 
  

    &--6 {
      background-image: url('../../assets/restaurant.jpg');
    }

   

    

    &--9 {
      background-image: url('../../assets/shoe-shop.jpg');
    }

    &--10 {
      background-image: url('../../assets/covid.jpg');
    }*/
  }
}

.swiper-slide-cube-content {
  @include flex-config($direction: column);
  height: 100%;
  color: var(--clr-light-gray);
  padding: 0.5rem 0;

  @include respond(md) {
    padding: 1rem 0;
  }

  @include respond(lg) {
    padding: 2rem 0;
  }

  &__heading {
    font-size: clamp(1.6rem, 2vw, 3rem);
    color: hsl(256, 84%, 81%);
    padding: 1rem;
  }

  &__link {
    font-size: clamp(2rem, 2.5vw, 4rem);
    color: hsl(180, 83%, 72%);

    @include respond(sm) {
      padding: 1rem;
    }
  }

  &__secondary-heading {
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding: 1rem;
    color: hsl(214, 85%, 73%);
  }

  &__demo-paragraph {
    display: inline-block;
    color: hsl(180, 83%, 72%);
    padding-bottom: 1rem;
    font-size: clamp(1.5rem, 2vw, 2rem);
  }
}

.swiper-slide-cube-content-list {
  @include flex-config($direction: column, $align: center);
  flex: 1;
  gap: 0.5rem;
  font-size: clamp(1.3rem, 2vw, 1.8rem);

  @include respond(lg) {
    gap: 1rem;
  }
}

.swiper-slide-cube-two {
  &__slide {
    &--1 {
      background-image: url('../../assets/farm-place.jpg');
    }

    &--2 {
      background-image: url('../../assets/writer.jpg');
    }

    &--3 {
      background-image: url('../../assets/travel.jpg');
    }

    &--4 {
      background-image: url('../../assets/construction.jpg');
    }

    &--5 {
      background-image: url('../../assets/porsche2.jpg');
    }

    &--6 {
      background-image: url('../../assets/porsche1.jpg');
    }
  }
}

.swiper-button-prev {
  left: 0 !important;
  color: var(--clr-accent-light) !important;

  @include respond(sm) {
    left: -5rem !important;
  }

  &::after {
    font-size: 3rem;
  }
}

.swiper-button-next {
  right: 0 !important;
  color: var(--clr-accent-light) !important;

  @include respond(sm) {
    right: -5rem !important;
  }

  &::after {
    font-size: 3rem !important;
  }
}

.swiper-pagination-bullets {
  bottom: -4rem !important;
}

.swiper-pagination-bullet {
  background-color: var(--clr-accent-light) !important;
  cursor: pointer !important;
}

.swiper-cube .swiper-cube-shadow:before {
  background: var(--clr-swiper-shadow) !important;
  filter: blur(30px) !important;
}

.swiper-shadow-darkmode {
  display: none;
}
