@use '../abstracts/' as *;

:root {
  --background: hsl(0, 0%, 99%);
  --foreground: hsl(0, 0%, 13%);
  --background-dark: hsl(0, 0%, 7%);
  --foreground-dark: hsl(0, 1%, 84%);
  --clr-dark-gray: hsl(0, 0%, 9%);
  --clr-light-gray: hsl(0, 0%, 89%);
  --clr-orange: hsl(39, 100%, 50%);
  --clr-orange-dark: hsl(39, 100%, 32%);
  --clr-accent-light: hsl(202, 94%, 36%);
  --clr-accent-dark: hsl(202, 97%, 12%);

  --shdw-btn-cta: hsla(0, 0%, 0%, 0.07) 0px 1px 2px,
    hsla(0, 0%, 0%, 0.07) 0px 2px 4px, hsla(0, 0%, 0%, 0.07) 0px 4px 8px,
    hsla(0, 0%, 0%, 0.07) 0px 8px 16px, hsla(0, 0%, 0%, 0.07) 0px 16px 32px,
    hsla(0, 0%, 0%, 0.07) 0px 32px 64px;

  //spacings
  --pd-sections: 5rem 0 10rem 0;
  --pd-section-heading: 2rem 0;

  //fonts
  --fs-section-heading: clamp(2.5rem, 2.5vw, 3.5rem);
  --fw-normal: 400;
  --fw-bold: 700;

  //light-dark mode
  --clr-nav: transparent;
  --clr-nav-dark: var(--clr-dark-gray);
  --clr-section-bg: hsl(0, 0%, 100%);
  --clr-section-bg-dark: var(--clr-dark-gray);
  --clr-wrapper: transparent;
  --clr-wrapper-dark: var(--clr-dark-gray);
  --clr-btn: transparent;
  --clr-btn-dark: var(--clr-accent-light);
  --clr-btn-border: 1px solid var(--clr-orange);
  --clr-btn-border-dark: none;
  --clr-arrow: var(--clr-dark-gray);
  --clr-arrow-dark: var(--clr-accent-light);
  --clr-swiper-shadow: var(--clr-dark-gray);
  --clr-swiper-shadow-dark: var(--clr-light-gray);
  --shdw-box: hsl(0, 1%, 17%) 0px 20px 30px -20px;
  --shdw-box-dark: none;
  --shdw-text: 2px 3px 3px hsla(0, 0%, 0%, 0.3),
    0px -4px 10px hsla(0, 0%, 100%, 0.3);
  --shdw-text-dark: none;
  --clr-footer: var(--clr-gray-dark);

  //icons colors
  --clr-js: hsl(60, 96%, 30%);
  --clr-typescript: hsl(212, 87%, 58%);
  --clr-vue: hsl(120, 100%, 25%);
  --clr-react: hsl(214, 57%, 58%);
  --clr-html: hsl(39, 100%, 50%);
  --clr-css: hsl(240, 100%, 50%);
  --clr-sass: hsl(350, 71%, 64%);
  --clr-linkedin: hsl(201, 100%, 35%);
  --clr-mail: hsl(39, 82%, 39%);
}
